.page_header {
	width: 85%;
	padding-top: 50px;
}

.main {

}

.main p {

}

.phone {

}

.resourcelist {
	list-style-type: none;
}

.resourcetype {

}

.help {

}

.help ul {
	list-style-type: none;
}