@font-face { font-family: Dyslexie; src: url('Dyslexie.ttf'); } 
@font-face { font-family: Dyslexie; font-weight: bold; src: url('Dyslexie.ttf');}

.page_header {
	width: 85%;
	padding-top: 50px;
}

.main {
  font-family: "Dyslexie", sans-serif;
  font-size: 16pt;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.main a:hover {
  color: #E1261C;
}

.phone {
  color: #1CBEE1;
  font-size: 12pt;
}

.phone:hover {
  color: #1CBEE1;
}

.small {
  font-size: 12pt;
}

.whoare a {
  font-size: 16pt;
  color: #000000;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.whoare a:hover {
  color: #E1261C;
}

.resourcelist {
	list-style-type: none;
  font-size: 14pt;
}

.resourcetype {
  font-size: 24pt;
  color: #E1261C;
  font-family: "Footlight MT Light", sans-serif;
}

.help {
  font-size: 24pt;
  font-style: bold;
  color: #131313;
  font-family: "Footlight MT Light", sans-serif;
}

.help ul {
  font-size: 14pt;
  list-style-position: left;
}

.ifastudent {
  color: #E1261C;

}

.studenttype {
  font-size: 18pt;
  font-family: "Footlight MT Light", sans-serif;
}

.actions {
  font-style: italic;
  font-size: 18pt;
  font-family: "Footlight MT Light", sans-serif;
}

/* Footer CSS from http://appdev.grinnell.edu */
/* Set the fixed height of the footer here */
#footer {
  min-height: 40px;
  background-color: #505050;
  bottom: 0px;
  width: 100%;
}

.text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.text-muted a {
	color: #ECECEC;
}

.text-muted a:hover {
	color: #E1261C;
}

.footic {
  filter: grayscale(100%) brightness(150%);
  -webkit-filter: grayscale(100%) brightness(150%);
  -moz-filter: grayscale(100%) brightness(150%);
  -o-filter: grayscale(100%) brightness(150%);
  -ms-filter: grayscale(100%) brightness(150%);
  transition: -webkit-filter 0.2s ease-out;
  -webkit-transition: -webkit-filter 0.2s ease-out;
  -moz-transition: -webkit-filter 0.2s ease-out;
  -o-transition: -webkit-filter 0.2s ease-out;
  -ms-transition: -webkit-filter 0.2s ease-out;
}

.footic:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  transition: -webkit-filter 0.2s ease-out;
  -webkit-transition: -webkit-filter 0.2s ease-out;
  -moz-transition: -webkit-filter 0.2s ease-out;
  -o-transition: -webkit-filter 0.2s ease-out;
  -ms-transition: -webkit-filter 0.2s ease-out;
}

#footer img {
  width:30px;
  height:30px;
}